
*.lock
*.ide
*.ide-shm
*.ide-wal
src/tech_solutions/.vs/tech_solutions/v16/.suo
src/tech_solutions/.vs/tech_solutions/DesignTimeBuild/.dtbcache
*.user
*.cache
*.cache
src/tech_solutions/TechSolutionsLibs/obj/TechSolutionsLibs.csproj.nuget.cache
*.cache
*.cache
