@{
    ViewData["Title"] = "Home Page";
}
<div class="text-left">
    <div>
        <h1>Acme Widget Company!</h1>
        <p>Welcome to .NET Core Web Application</p>
        <ul class="list-unstyled">

            <li><a class="nav-link text-dark" asp-area="" asp-controller="EmployeeActivity" asp-action="Index">Click here for Activity sing up form</a></li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="EmployeeActivity" asp-action="InterestedPersonListings">
                    Click here for Interested Person Listing
                </a>
            </li>
            <li><a class="nav-link text-dark" asp-area="" asp-controller="EmployeeActivityByDapper" asp-action="Index">Click here for Activity sing up form by Dapper</a></li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="EmployeeActivityByDapper" asp-action="InterestedPersonListings">
                    Click here for Interested Person Listing By Dapper
                </a>
            </li>

        </ul>
    </div>
</div>