@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <div>
            <h1>Acme Widget Company!</h1>
            <p>Welcome to .NET Core Web Application</p>
            <ul>
                <li><a href='/add-employee-activity'>Click here for Activity sing up form</a></li>
                <li><a href='/fetch-employee-activity'>Click here for Interested Person Listing</a></li>
            </ul>
        </div>
    </div>
